main{
/* background-color: white; */
width: 85%;
margin: 20px auto;
}
#content-container {
    width: 100%;
    margin: 20px auto;
    border-radius: 8px;
}
.content-title {
    font-size: 53px;
    width: 55%;
 background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    font-weight: bold;
 font-family: Arial, Helvetica, sans-serif;
    color: #0080ff;
}

.filter{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.filter-options{
    display: flex;
    padding: 10px;
    font-size: 12px;
    gap: 5px;
    border: 1px solid #0080ff;
    align-items: center;
    font-weight: bold;
    color: #0080ff;
    cursor: pointer;
     font-family: Arial, Helvetica, sans-serif;
    transition: background-color 0.3s, color 0.3s;
    background-color: white;

    
   
}
.filter-options div {
 width: 13px;
    height: 13px;
    border-radius: 50%;
   
    border: 1px solid #0080ff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
