main{
/* background-color: white; */
width: 85%;
margin: 20px auto;
}
#content-container {
    width: 100%;
    margin: 20px auto;
    border-radius: 8px;
}
.content-title {
    font-size: 53px;
    width: 50%;
      background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    font-weight: bold;
 font-family: Arial, Helvetica, sans-serif;
    color: #399CFF;
}

.filter{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.filter-options{
    padding: 10px;
    border: 1px solid #399CFF;
    
    font-weight: bold;
    color: #399CFF;
    cursor: pointer;
     font-family: Arial, Helvetica, sans-serif;
    transition: background-color 0.3s, color 0.3s;
background-color: white;
}