body {
  width: 100%;
  background-color: black;
}
main {
  padding-top: 50px;
  width: 90%;

  /* margin-top: 202px; */
  justify-content: center;
  align-items: center;

  justify-self: center;
  padding: 0%;
}
.film-detail-container {
  width: 100%;
  display: flex;
  justify-content: space-between;

  gap: 20px;
  margin: 20px 0;
  background-color: rgb(255, 255, 255);
}
.film-detail-poster {
  width: 500px;
  height: 800px;
  border-radius: 8px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}
.film-detail-poster img {
  width: 500px;
  height: 800px;
}
.detail-title {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  background-color: white;
  font-size: 32px;
  font-family: "lato", sans-serif;
  font-weight: 700;
  font-style: medium;
  margin-bottom: 10px;
  color: #0088ff;
  padding: 30px;
}
.detail-info {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
}
.detail-ratings {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.detail-viewing-guide {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 7px;
}
.detail-ratings img {
  width: 64px;
  height: 64px;
}
.detail-viewing-guide img {
  width: 48px;
  height: 48px;
}
.detail-release-date {
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "lato", sans-serif;
  font-weight: 400;
  color: #616060;
}
.detail-description {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "lato", sans-serif;
  font-weight: 400;
  color: #616060;
  text-align: justify;
}
.read-more-btn {
  margin-top: 10px;
  padding: 10px 20px;
  background: #0088ff;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-family: "lato", sans-serif;
  font-weight: 700;
  font-style: medium;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  max-width: 600px;
  width: 90%;
  text-align: left;
  font-size: 16px;
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-style: medium;
}

.close-btn {
  margin-top: 15px;
  padding: 8px 15px;
  background: #333;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.detail-ticket-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 5px;
  background-color: #0088ff;
  color: white;
  font-size: 30px;
  padding: 20px;
  border: none;
  font-family: "lato", sans-serif;
  font-weight: 700;
  font-style: medium;
}
.trailer-container{
    border: 5px solid #0080ff;
    width: 99.5%;
min-height: 700px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;


}
