
.detail-ticket-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 5px;
  background-color: #0088ff;
  color: white;
  font-size: 30px;
  padding: 20px;
  border: none;
  font-family: "lato", sans-serif;
  font-weight: 700;
  font-style: medium;
}
.trailer-container{
    border: 5px solid #0080ff;
    width: 99.5%;
min-height: 700px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;


}