body {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  position: relative;
}
header {
  background-color: #ffffff;
  top: 0;
  z-index: 2;
  overflow: hidden;
  position: sticky;
  width: 100%;
}
.dropdown-div-arrow {
  display: flex;
  justify-content: space-between;
  height: 16px;
  align-items: center;
}
.st0 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 3;
  stroke-miterlimit: 10;
}

#header-top {
  width: 100%;
  height: 121px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
#header-top-container {
  display: flex;
  width: 85%;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  /* left: 200px; */
  padding: 10px 20px;
}
.logo {
  width: 280px;
}
#header-top-links {
  display: flex;
  /* gap: 20px; */
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
}
.links a:link {
  margin: 0 10px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  transition: color 0.3s;
}
.links a:visited {
  color: rgb(30, 30, 30);
  background-color: transparent;
  text-decoration: none;
}

.links a:hover {
  color: rgb(0, 0, 0);
  background-color: transparent;
  /* text-decoration: underline; */
}

.links a:active {
  color: rgb(30, 30, 30);
  background-color: transparent;
  /* text-decoration: underline; */
}
#header-bottom {
  height: 81px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0080ff;
  gap: 20px;
}
#header-bottom-container {
  display: flex;
  width: 85%;
  gap: 20px;
  align-items: center;
  position: relative;
}
#purchase-ticket {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#purchase-ticket a {
  font-size: 25px;
  padding: 5px 8px;
  background-color: #ff583300;
  color: white;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.dropdown-select {
  width: 216px;
  height: 45px;
  position: relative;
  display: inline-block;
  background-color: #3e99f5;
  /* padding: 8px 4px 8px 8px; */
  text-align: left;
  align-content: center;
  font-size: 15px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.dropdown-select:hover {
  background-color: #67aff8c2;
}

/* hack for bootstrap-select outline focus border */
.dropdown-select:focus {
  outline: 0px none #fff !important;
  border: none;
}

.dropdown-select option {
  color: rgb(255, 255, 255);
  /* padding: 6px 8px; */
  background-color: #198bfd;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  border: none;
}

.dropdown-select option:hover {
  background-color: #3e99f5;
}
.dropdown-select option {
  color: rgb(255, 255, 255);
  padding: 6px 8px;
  background-color: #66b1fd;
  border: none;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.dropdown-select option:hover {
  background-color: #3e99f5;
  border: none;
}
.dropdown:hover .dropdown-select {
  display: block;
  border: none;
}
.dropdown:hover {
  background-color: #ffffff;
  border: none;
}
#order-link {
  padding: 0%;
  display: flex;
  align-items: center;
}
#order-link a {
  font-size: 15px;
  padding: 7px 10px;
  background-color: #ffffff;
  margin: 0%;
  color: #0080ff;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.nav-dropdown-icon {
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

.dropdown-select::-webkit-scrollbar {
  display: none;
}

.dropdown-select {
  scrollbar-width: none;
}

.dropdown-select {
  -ms-overflow-style: none;
}
